<a href="https://colab.research.google.com/github/shiva653/CRTBatch1/blob/master/04_12_19.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#print the even digit sum of a number

In [0]:
def evendigitsum(n):
  s = 0
  while n != 0:
    r = n % 10
    if r % 2 == 0:
      s = s + r
    n = n // 10
  return s
evendigitsum(1234)

6

In [7]:
def square(x):
  print(x*x)
print(square(4))

16
None

In [3]:
def square(x):
  return x*x
square(4)

16

In [4]:
def cube(x):
  return x*x*x
cube(4)

64

In [10]:
def multiply(x,y=0):
  print("value of x=",x)
  print("value of y=",y)
  return(x*y)
print(multiply(y=2,x=4))

value of x= 4
value of y= 2
8

## swap variables

In [15]:
def swap(x,y):
  temp = x
  x = y
  y = temp
  return x,y
swap(2,3)

(3, 2)

## print large number in the given number

In [18]:
def largedigit(n):
  large = 0
  while n!=0:
    r=n%10
    if large < r:
      large = r
    n=n//10
  return large
largedigit(19535)

9

## function to print the numbers between two limits

In [20]:
def printseries(lb,ub):
  for x in range(lb,ub+1):
    print(x,end=' ')
  return
printseries(1,10)

1 2 3 4 5 6 7 8 9 10

# Data structures
## Collection types
1. List
2. Tuple
3. Set
4. Dictionary


### List
- one of the data structures
- Data structures means to store, sort and search options
- It's one common data structure in python, the items of list seperated by comma and enclosed in square brackets[]

### example
- list1=[1,2,3,4]
- list2+["gitam",1,2]

In [32]:
li = [1,8,16,9,2]
print(li)
print(li[1])
print(li[4])
print(li[2:])
print(li[1:5])

[1, 8, 16, 9, 2]
8
2
[16, 9, 2]
[8, 16, 9, 2]

#### Update list

In [34]:
li = ['gitam',1234,'hyd']
print(li)
li[1] = 456
print(li)
del li[1]
print(li)

['gitam', 1234, 'hyd']
['gitam', 456, 'hyd']
['gitam', 'hyd']